<span>{{spaceShip.modelName}}</span>
<div class="actions">
  <ng-content></ng-content>
</div>

<div class="photos">
  <img [src]="spaceShip.imageUrl" alt="ship" appSpaceImage/>
  <img *ngIf="spaceShip.pilot" [src]="spaceShip.pilot.imageUrl" alt="pilot"/>
</div>

<div class="health" [title]="'Health' + spaceShip.health + '%'">
  <div [style.width.%]="spaceShip.health"></div>
</div>
<div class="equip">
  <div class="property">{{spaceShip.activeShields | tickize}} SHIELDS</div>
  <div class="property">{{spaceShip.activeShields | tickize}} WEAPON</div>
</div>



